<div *ngIf="userType=='Teacher'">
    <mat-nav-list>
        <a mat-list-item [routerLink]="['/home/Teacher']" class="link home">
            <mat-icon>home</mat-icon>&nbsp;Αρχική Σελίδα
        </a>
        <div>
            <a mat-list-item class="link" [routerLink]="['home/Teacher/theory', ]">
                <mat-icon>event_available</mat-icon>&nbsp;Θεωρία
            </a>
        </div>
        <div>
            <a mat-list-item class="link" [routerLink]="['home/Teacher/tests']">
                <mat-icon>event_available</mat-icon>&nbsp;Διαγωνίσματα
            </a>
            <a mat-list-item class="link" [routerLink]="['home/Teacher/grades']">
                <mat-icon>people</mat-icon>&nbsp;Βαθμολογία Μαθητών
            </a>
        </div>
        <a mat-list-item (click)="logOut()" [routerLink]="['/']" class="logout link">
            <mat-icon>logout</mat-icon>&nbsp;Αποσύνδεση
        </a>
        <a href="assets/user_manual.pdf" target="_blank" mat-list-item class="logout link">
            <mat-icon>help</mat-icon>&nbsp;Βοήθεια
        </a>

    </mat-nav-list>
</div>

<div *ngIf="userType=='Student'">
    <mat-nav-list>
        <a mat-list-item [routerLink]="['/home/Student']" class="link home">
            <mat-icon>home</mat-icon>&nbsp;Αρχική Σελίδα
        </a>
        <div>
            <a mat-list-item class="link" [routerLink]="['home/Student/Theory']">
                <mat-icon>event_available</mat-icon>&nbsp;Θεωρία
            </a>
        </div>
        <div>
            <a mat-list-item class="link" [routerLink]="['home/Student/Tests']">
                <mat-icon>event_available</mat-icon>&nbsp;Διαγωνίσματα
            </a>
            <a mat-list-item class="link" [routerLink]="['home/Student/Grades']">
                <mat-icon>people</mat-icon>&nbsp;Βαθμολογίες
            </a>
        </div>
        <a mat-list-item (click)="logOut()" [routerLink]="['/']" class="logout link">
            <mat-icon>logout</mat-icon>&nbsp;Αποσύνδεση
        </a>
        <a href="assets/user_manual.pdf" mat-list-item class="logout link">
            <mat-icon>help</mat-icon>&nbsp;Βοήθεια
        </a>
    </mat-nav-list>
</div>
