/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-drawer-container {
    background-color: #f8f7f7;
}

.mat-checkbox-inner-container{
    color: black;
}

.mat-dialog-container{
    color: black;
}

.mat-form-field-label{
    color:rgb(92, 90, 90);
}

.mat-checkbox-frame {
    border-color: black;
}
.mat-select-value {
    color: rgb(0, 0, 0);
}
.mat-select-arrow {
  color:black;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgb(255 255 255);
}
