/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-drawer-container {
    background-color: #d5d3d3;
}

.mat-checkbox-inner-container{
    color: black;
}

.mat-dialog-container{
    color: black;
}

.mat-form-field-label{
    color:rgb(92, 90, 90);
}

.mat-checkbox-frame {
    border-color: black;
}