<section class="headSection">
    <div class="headText">
        Εκπαιδευτικό Λογισμικό
    </div>
</section>
<br>
<mat-card class="mat-card">
    <mat-card-title class="card_title">Εγγραφή</mat-card-title>
    <form #userData="ngForm" class="registerForm">
        <mat-card-subtitle>Προφίλ χρήστη</mat-card-subtitle>
        <mat-form-field appearance="outline">
            <mat-label>Όνομα χρήστη</mat-label>
            <input type="text" name="username" matInput [(ngModel)]="student.username" required>
        </mat-form-field>
        <br>

        <div class="row">
            <div class="col-3">
                <mat-form-field appearance="outline">
                    <mat-label>Κωδικός</mat-label>
                    <input type="password" name="password" [(ngModel)]="student.password" matInput required>
                </mat-form-field>
            </div>

            <div class="col-3">
                <mat-form-field appearance="outline">
                    <mat-label>Κωδικός</mat-label>
                    <input type="password" name="passwordConfirm" matInput  required>
                </mat-form-field>
            </div>
        </div>

        <mat-divider></mat-divider><br>
        <mat-card-subtitle>Προσωπικές πληροφορίες</mat-card-subtitle>

        <mat-form-field appearance="outline">
            <mat-label>Όνομα</mat-label>
            <input type="text" name="firstName" matInput [(ngModel)]="student.firstName" required>
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline">
            <mat-label>Επίθετο</mat-label>
            <input type="text" name="lastName" matInput [(ngModel)]="student.lastName" required>
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline">
            <mat-label>Τάξη</mat-label>
            <input type="number" name="class" matInput [(ngModel)]="student.class" required min="1">
        </mat-form-field>
        <br>

        <button type="submit" mat-raised-button color="primary" (click)="onSubmit()">Εγγραφή</button>
        <br><br>
        <div>Έχεις κάνει ήδη εγγραφή;</div>
        <a [routerLink]="['/login']" class="btn btn-link">Σύνδεση</a>
        <br>
    </form>
</mat-card>
