 <div style="color:black;" class="padding ">
    <form class="list-card" style="background-color:rgb(227, 227, 227);"> 
        <div class="row">
            <div class="col-8" style="margin-top: 10px;">
                <h3>Εκφώνηση Άσκησης<span style="color: red">*</span></h3>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Εκφώνηση</mat-label>
                    <input matInput placeholder="Πληκτρολογήστε...">
                </mat-form-field>
                <div class="col-md-4">
                    <mat-form-field class="popup-field">
                        <!-- <mat-select [(ngModel)]="option.type" placeholder="Type"
                            (ngModelChange)="onQuestionTypeChange(option)">
                            <mat-option *ngFor="let questionType of questionsTypes">
                                {{questionType.value}}</mat-option>
                        </mat-select> -->
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
</div>