<mat-grid-list cols="3" rowHeight="1:0.7">
    <mat-grid-tile *ngFor="let element of dataSource">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Id: {{element.chapterId}} </mat-card-title>
          <mat-card-subtitle>Κεφάλαιο: {{element.description}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img src="{{element.photoLink}}"/>
        </mat-card-content>
        <mat-card-footer>
            <a href="{{element.pdfLink}} " target="_blank" style="color: brown; text-align: center;">Άνοιγμα PDF<mat-icon>proceed</mat-icon> </a>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <a *ngIf="userType === 'Teacher'" href="home/Teacher/Theory/CreateNew">ClickMeeeeeeeeee!!!!</a>