.padding{
    padding: 30px;
}

.title{
    background-color:transparent;
}

.button {
    float: right;
  }
.select {
    background-color: white;   
    color: black;
    border : 1px solid #666666;

}